@import url("bootstrap.css");

body {
	background: #ebebeb;
	font-family: public Sans, "Roboto Condensed", Calibri, Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

header {
	background: #fb7230;
}

a {
	text-decoration: none;
	color: white;
}

.item {
	display: block;
	width: 20%;
	transition: all 1s ease;

	.menu {
		font-size: 1.5em;
		color: black;
		opacity: 70%;
		text-transform: uppercase;
		transition: all 0.15s ease;
	}

	&:has(img) {
		opacity: 100%;
		max-height: 83px;
	}

	img {
		border-radius: 2em;
		max-width: 125px;
		opacity: 100%;
		transition: all 0.25s ease-in-out;
		overflow: hidden;

		&:hover {
			border-radius: 0.25em;
			border: 1px solid black;
			max-width: 200px;
			z-index: 3
		}
	}

	.proyecto,
	.recursos {
		display: flex;
		overflow: hidden;
		margin-top: 2.5em;
		height: 0;
		max-height: fit-content;
		box-sizing: content-box;
		border-radius: 1em;
		position: absolute;
		background: #fb7230;
		text-transform: capitalize;
		font-size: 1em;
	}

	&:hover {
		.menu {
			opacity: 100%;
			color: #82d1ff;
		}

		.proyecto,
		.recursos {
			height: fit-content;

			a:hover {
				transition: all 0.15s ease;
				opacity: 100%;
				color: #82d1ff;
			}
		}
	}
}

main {

	p,
	li {
		text-align: justify;
		font-size: 1.2em;
	}

	.subrayado {
		border-bottom: 1px solid black;
	}

	.inner {
		color: black;
		transition: all 0.25s ease;

		&:hover {
			color: black;
			font-size: 0.5em;
			padding-left: 1em;
		}
	}
}

footer {
	color: white;
	background-color: black;
	margin-bottom: -1%;
	padding: 5%;
	text-align: center;

	a:hover {
		color: #fb7230;
		transition: all 0.25s ease;
	}
}

.home,
.origen-contexto {
	img {
		width: 100%;
	}
}

.home {
	h1 {
		text-transform: uppercase;
		text-align: center;
	}

	img {
		max-width: 1000px;
		width: 100%;
	}

	.home-refs {
		color: black;
		text-decoration: underline;
		transition: all 0.25s ease;

		&:hover {
			color: #fb7230;
			text-decoration: none;
		}
	}

	div span:has(span.contact) {
		height: fit-content;
	}

	.contact {
		background: #b7b7b7;
		max-height: 400px;
		height: 25em;

		h2 {
			text-transform: uppercase;
		}

		a {
			color: black;
			text-decoration: underline;
			font-size: 1.2em;
			transition: all 0.25s ease;

			&:hover {
				color: #c75a26;
				text-decoration: none;
			}
		}

		iframe {
			width: -webkit-fill-available;
			height: -webkit-fill-available;
		}
	}
}

.origen-contexto {}

.objetivos,
.tareas {
	ol li {
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
}

.tareas {
	h2 {
		text-transform: capitalize;
	}

	ol {
		padding-left: 0 !important;
		li {
			margin-right: 3rem !important;
			margin-left: 3rem !important;
		}
	}
}

.cronograma {}

.rec-humanos {
	iframe {
		height: 205px;
		width: 717px;
	}
}

.rec-materiales {
	iframe {
		height: 185px;
		width: 725px;
	}
}

.presupuesto {
	iframe {
		height: 1740px;
		width: 1060px;
	}
}

.seguimiento {}

.nosotros {
	ul {
		list-style: outside;
		list-style-type: '\2014   ';
	}

	.a-quien {
		background: white;
	}
}

.anexos {}

.bibliografia {}