@import url("bootstrap.css");

body {
	background: #ebebeb;
	font-family: public Sans, "Roboto Condensed", Calibri, Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

header {
	background: #fb7230;
}

a {
	text-decoration: none;
	color: white;
}

.item {
	display: block;
	width: 20%;
	transition: all 1s ease;

	.menu {
		font-size: 1.5em;
		color: black;
		opacity: 70%;
		text-transform: uppercase;
		transition: all 0.15s ease;
	}

	&:has(img) {
		opacity: 100%;
		max-height: 83px;
	}

	img {
		border-radius: 2em;
		max-width: 125px;
		opacity: 100%;
		transition: all 0.25s ease-in-out;
		overflow: hidden;

		&:hover {
			border-radius: 0.25em;
			border: 1px solid black;
			max-width: 200px;
			z-index: 3
		}
	}

	.proyecto,
	.recursos {
		display: flex;
		overflow: hidden;
		margin-top: 2.5em;
		height: 0;
		max-height: fit-content;
		box-sizing: content-box;
		border-radius: 1em;
		position: absolute;
		background: #fb7230;
		/*#c75a26*/
		text-transform: capitalize;
		font-size: 1em;
	}

	&:hover {

		.menu {
			opacity: 100%;
			color: #82d1ff;
		}

		.proyecto,
		.recursos {

			height: fit-content;

			a:hover {
				transition: all 0.15s ease;
				opacity: 100%;
				color: #82d1ff;
			}

		}
	}
}

main {
	p, li {
		text-align: justify;
		font-size: 1.2em;
	}
}

footer {
	color: white;
	background-color: black;
	margin-bottom: -1%;
	padding: 5%;
	text-align: center;

	a:hover {
		color: #fb7230;
		transition: all 0.25s ease;
	}
}

.home,
.origen-contexto {
	img {
		width: 100%;
	}
}

.home {
	h1 {
		text-transform: uppercase;
	}

	img {
		max-height: 600px;
		max-width: 400px;
	}
}

.origen-contexto {}

.objetivos {}

.tareas {}

.cronograma {}

.rec-humanos {}

.rec-materiales {}

.presupuesto {}

.seguimiento {}

.nosotros {
	ul{
		list-style: outside;
		list-style-type: '\2014   ';
	}
	.a-quien{
		background: white;
	}
}

.anexos {}

.bibliografia {}